.text-center.coursy.h1
  %i.fas.fa-bell
  Activities

- @activities.each do |activity|
  .row
    .user-act
      = activity.id
    .user-act
      = activity.trackable_type
    .user-act
      = activity.trackable_id
    .user-act
      = link_to activity.trackable, activity.trackable
    .user-act
      = activity.key
    .user-act
      = activity.parameters
    .user-act
      = activity.owner
