- content_for :title do
  Udzilla
  \|
  Online Courses - Learn Anything, On your own schadule
.jumbotron
  .display-4.text-center

.card-group
  .card.cardo
    .card.cardy
      %h1
        .fas.fa-graduation-cap
      = Course.count
      Online Courses
  .card.cardy
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    Top Instructors
  .card.cardy
    %h1
      .fa.fa-user-graduate
    = User.count
    Active Learners
  .card.cardy
    %h1
      .fa.fa-infinity
    Lifetime Access

%hr
%h2
  .parts
    Popular Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    Top Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    Latest Courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course