.jumbotron
  .display-4.text-center
    Ready For The learning!

    .p-4
  %form.form-inline.my-2.my-lg-0.text-cen
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search Courses", class: 'form-control'
        %span.input-group-append
          %button.btn.btn-cust.btn-sm{:type => "submit"}
            %span.fas.fa-search{"aria-hidden" => "true"}

.card-group
  .card.cardo
    .card.cardy
      %h1
        .fas.fa-graduation-cap
      = Course.count
      Online Courses
  .card.cardy
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    Top Instructors
  .card.cardy
    %h1
      .fa.fa-user-graduate
    = User.count
    Active Learners
  .card.cardy
    %h1
      .fa.fa-infinity
    Lifetime Access

%hr
%h2
  .parts
    Popular Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    Top Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    Latest Courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course