- content_for :title do
  Udzilla
  \|
  Online Courses - Learn Anything, On your own schadule
.jumbotron
  .display-4.text-center

.card-group
  .card.cardo
    .card.cardy
      %h1
        .fas.fa-graduation-cap
      = Course.count
      Online Courses
  .card.cardy
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    Top Instructors
  .card.cardy
    %h1
      .fa.fa-user-graduate
    = User.count
    Active Learners
  .card.cardy
    %h1
      .fa.fa-infinity
    Lifetime Access

%hr
%h2
  .parts
    .fa.fa-user-graduate
    Keep Learning
.card-columns
  - @purchased_courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    .fa.fa-chart-line
    Popular Courses
.card-columns
  - @popular_courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    .fa.fa-star
    Top Courses
.card-columns
  - @top_rated_courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    .fa.fa-clock
    Latest Courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  .parts
    .fa.fa-comment
    Students Testimonials 
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment