
.card
  .card-header.headery
    .far.fa-user
    - if user.online?
      .text-success.fas.fa-circle
    - else
      .text-danger.far.fa-circle
    = link_to user.email, user_path(user), class: "text-light"
  .card-footer.footy
    .text-primary.far.fa-user
    = user.username
  .card-footer.footy
    .far.fa-clock
    Joined
    = time_ago_in_words(user.created_at)
  .card-footer.footy
    .row 
      .col-6
        Created Courses:
        .badge.badge-info
          = user.courses_count
      .col-6
        Enrollments:
        .badge.badge-info
          = user.enrollments_count
  .card-footer.footy
    = 'sign_in_count'.humanize
    = user.sign_in_count
    .row.p-2
    = 'current_sign_in_at'.humanize
    = user.current_sign_in_at
    .row.p-2
    = 'last_sign_in_at'.humanize
    = user.last_sign_in_at
  .card-footer.roly
    - user.roles.each do |role|
      .badge.badge-info
        = role.name
    - if policy(user).edit?
      = link_to 'Edit Roles', edit_user_path(user), class: 'btn btn-warning' 
