- content_for :title do
  Udzilla
  \|
  All Users

.text-center.coursy.h1.mb-3
  %i.far.fa-user
  Users
  .badge.badge-info
    = @users.count
.card-columns
  - @users.each do |user|
    = render 'users/user', user: user

= search_form_for @q do |f|
  .row
    = f.search_field :email_or_sign_in_count_eq, placeholder: 'Search Users', class: 'searchy text-center mt-5'
  .row
    = f.submit "search", class: 'btn btn-success ml-3 mb-3 btn-block'
= link_to users_path, class: "btn btn-sm btn-primary text-white btn-block mb-5" do
  .fas.fa-sync 

%table.table.table-bordered
  %thead
    %tr
      %th id
      %th= sort_link(@q, :email)
      %th created_at
      %th= 'sign_in_count'.humanize
      %th= 'current_sign_in_at'.humanize
      %th= 'last_sign_in_at'.humanize
      %th= 'current_sign_in_ip'.humanize
      %th= 'last_sign_in_ip'.humanize
  %thead
    - @users.each do |user|
      %tr
        %td= user.id
        %td
          - if user.online?
            .text-success.fas.fa-circle
          - else
            .text-danger.far.fa-circle
          = link_to user.email, user_path(user)
        %td= user.created_at
        %td= user.sign_in_count
        %td= user.current_sign_in_at
        %td= user.current_sign_in_ip
        %td= user.last_sign_in_ip