.card
  .card-header 
    .fa.fa-user
    = link_to enrollment.user.username, user_path(enrollment.user)
    .fa.fa-clock 
    = time_ago_in_words(enrollment.updated_at)
    .fa.fa-graduation-cap
    = link_to enrollment.course, course_path(enrollment.course)
  .card-body
    - enrollment.rating.times do
      .text-warning.fas.fa-star
    = enrollment.review
  - if current_user
    .card-footer
      - if policy(enrollment).edit?
        = link_to "Edit Review", edit_enrollment_path(enrollment), class: 'btn btn-warning'

