- content_for :title do
  Udzilla
  \|
  = action_name.humanize
  Enrollments
%h1
  .text-center.coursy
    .badge.badge-info
      = @enrollments.count
    = action_name.humanize
    Enrollments
.row.mt-4.ml-1
  .col-12
    .pagy-center
      != pagy_bootstrap_nav(@pagy)
      != pagy_bootstrap_nav_js(@pagy)
= search_form_for @q, url: @ransack_path do |f|
  .row
    = f.search_field :review_cont, placeholder: 'Search Reviews', class: ' m-4 h5 '
    = f.search_field :rating_eq, placeholder: 'Search Ratings', class: ' m-4 h5 '
    = f.search_field :price_eq, placeholder: 'Search Prices', class: ' m-4 h5 '
    = f.search_field :user_email_cont, placeholder: 'Search Users', class: ' m-4 h5 '
    = f.search_field :course_title_cont, placeholder: 'Search Courses', class: ' m-4 h5 '
  .row
    = f.submit "search", class: 'btn btn-success ml-3 mb-3 btn-block'
= link_to @ransack_path, class: "btn btn-sm btn-primary text-white btn-block mb-5" do
  .fas.fa-sync 
.w-100.container.table-responsive
  %table.table-bordered.table-striped.text-center
    %thead
      %tr
        %th ID
        %th
          .fas.fa-user
          User
        %th
          .fas.fa-clock
          Bought
        %th
          .fas.fa-graduation-cap
          Course
        %th
          .fas.fa-dollar-sign
          Price
        %th
          .text-warning.far.fa-clock
          Review
        %th
          .text-warning.fas.fa-star
          Rate
        %th
          .text-warning.fas.fa-comment
          Review
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.created_at.strftime("%d/%b/%Y  %H:%M")
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= number_to_currency(enrollment.price)
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime("%d/%b/%Y  %H:%M")
          %td= enrollment.rating
          %td= enrollment.review
          %td= link_to 'Add', edit_enrollment_path(enrollment), class: 'btn btn-warning btn-sm text-white'
          %td= link_to 'Delete', enrollment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm text-white'

  %br