- content_for :title do
  Udzilla
  \|
  New   Enrollment
.card
  .card-header.text-center.new-cors.coursy
    %h2
      .fas.fa-graduation-cap
      = link_to @course.title, course_path(@course), class: 'text-warning'
  .card-body.h6.text-center.new-cors.coursy
    = form_tag course_enrollments_path(@course) do
      = submit_tag "Pay only #{@course.price}", class: 'btn btn-success'
  .card-footer
    = link_to 'Back', course_path(@course), class: "btn btn-dark text-white"
