.card 
  .card-header.headery
    = link_to lesson.title, lesson
  - if policy(lesson).show?
    .card-body.desy
      = lesson.content
      = lesson.course
  - if policy(lesson).edit?
    .card-footer.footy
      = link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-warning'
      = link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p