.card 
  .card-header.headery
    = link_to lesson.title, course_lesson_path(@course, lesson)
  - if policy(lesson).show?
    .card-body.desy
      = lesson.content
      = lesson.course
    .card-footer.footy
      = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-warning text-white' if policy(lesson).edit?
      = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' if policy(lesson).edit?
%p