= link_to 'Courses', courses_path, class: 'btn btn-warning'
\|
= link_to @lesson.course.title, course_path(@lesson.course), class: 'btn btn-warning'
\|
= link_to @lesson.title, course_lesson_path(@course, @lesson), class: 'btn btn-warning'
%p
= render 'lessons/lesson', lesson: @lesson
= link_to 'Back To Course', course_path(@lesson.course), class: 'btn btn-secondary text-white'
