.card
  .card-header.headery
    .fas.fa-graduation-cap
    = link_to course.title, course_path(course), class: "titly"
  .card-body.desy
    %small= simple_format(course.short_description)
  .card-footer.footy
  .row.text-center.h5
    .col-6
      .fas.fa-globe-africa
      = course.language
    .col-6
      .fas.fa-signal
      = course.level
  .card-footer.footy
    = number_to_currency(course.price)
  .card-footer.footy
    .row
      .col-6
        .far.fa-clock
        = course.created_at.strftime('%d-%b-%Y')
      .col-6
        .fa.fa-chalkboard-teacher
        = course.user.username
  -if current_user
    .card-footer.text-center.h5
      = link_to 'Edit', edit_course_path(course), class: "btn btn-sm btn-warning" if policy(course).edit?
      = link_to 'Delete', course,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" if policy(course).destroy?
