- content_for :title do
  Udzilla
  \|
  = action_name.humanize
  Courses

%h1
  .text-center.coursy
    Search 
    .badge.badge-info
      = @courses.count
    = action_name.humanize
    Courses
.row.my-3
  .col-12 
    = search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f|
      
      = f.search_field :title_cont, placeholder: 'Title', class: 'filedy'
      
      = f.search_field :short_description_cont, placeholder: 'Description', class: 'filedy'
      
      = f.search_field :level_cont, placeholder: 'Level', class: 'filedy'
      
      = f.search_field :price_eq, placeholder: 'Price', class: 'filedy'
    
      = f.search_field :user_email_cont, placeholder: 'Instructor', class: 'filedy'
      = f.submit "search", class: 'btn ml-4 mb-1 btn-success'
    = link_to @ransack_path, class: "btn btn-sm btn-primary refrsh" do
      Refresh
      .fas.fa-sync
  
  .row.mt-4.ml-1
    .col-12
      .pagy-center
        != pagy_bootstrap_nav(@pagy)
        != pagy_bootstrap_nav_js(@pagy)
        
      .card-columns
        - @courses.each do |course|
          = render 'courses/course', course: course
      

