%h1
  .text-dark.text-center
    Our Courses:
    = @courses.count

.row 
  .col-2 
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      = f.label :Title
      = f.search_field :title_cont, placeholder: 'title'
      = f.label :Description
      = f.search_field :short_description_cont, placeholder: 'short description'
      = f.label :Level
      = f.search_field :level_cont, placeholder: 'level'
      = f.label :Price
      = f.search_field :price_eq, placeholder: 'price'
      = f.label :Instructor
      = f.search_field :user_email_cont, placeholder: 'Email'
      = f.submit "search"
    = link_to courses_path, class: "btn btn-sm btn-secondary" do
      Refresh
      .fas.fa-sync
  .col-10
    .card-columns
      - @courses.each do |course|
        = render 'courses/course', course: course
