- content_for :title do
  Udzilla
  \|
  = @course.title

= link_to 'Courses', courses_path, class: 'btn btn-warning'
\|
= link_to @course.title, courses_path(@course), class: 'btn btn-warning'
%p
%p
.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
    = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-block text-white'
  