%footer.mt-4.bg-dark.text-light
  .container
    .row 
      .col
        Copyright
        @
        = Time.now.year
        ELearning S.S
        .row.text-light
        .fas.fa-envelope
        = mail_to 'shahershamroukh@gmail.com' 
        .row
        .fab.fa-github.text-dark
        = link_to 'Github', "https://github.com/Shaher-11/", target: "_blank", class: "dev"
      .col
        = link_to 'Privacy and policy', privacy_policy_path, class: 'text-light'
        .row
        Terms and Conditions
        .row
        .fab.fa-linkedin.text-primary
        = link_to 'Linkedin', "https://www.linkedin.com/in/shaher-shamroukh/", target: "_blank", class: "dev"
      .col
        About Us
        .row 
        = link_to 'Teach On Udzilla', new_course_path, class: 'text-light'
        .row
        .fab.fa-dev.text-dark
        = link_to 'Dev', "https://dev.to/shahershamroukh/", target: "_blank", class: " dev"