%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .logo
    = link_to  image_tag("udzilla.png"), root_path, class: 'navbar-brand bckgrd'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto.links
        %li{:class => "#{'active font-weight-bold' if current_page?(root_path)} nav-item"}
          = link_to root_path, class: 'nav-link' do
            %i.fas.fa-home
            Home
        %li{:class => "#{'active font-weight-bold' if current_page?(courses_path)} nav-item"}
          = link_to courses_path, class: 'nav-link' do
            %i.fas.fa-graduation-cap
            Courses
        %li{:class => "#{'active font-weight-bold' if current_page?(new_course_path)} nav-item"}
          = link_to new_course_path, class: 'nav-link' do
            %i.fas.fa-plus
            New Course
        %li{:class => "#{'active font-weight-bold' if current_page?(users_path)} nav-item"}
          = link_to users_path, class: 'nav-link' do
            %i.fas.fa-user
            Users
      %ul.navbar-nav.mr-righ
        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .input-group 
            = f.search_field :title_or_short_description_cont, class: 'form-control', placeholder: "Search"
            %span.input-group-append
              %button.btn.btn-cust.btn{:type => "submit"}
                %span.fas.fa-search{"aria-hidden" => "true"}

      .mr-right
        %li{:class => "#{'active font-weight-bold' if current_page?(root_path)} nav-item"}
          = link_to edit_user_registration_path, class: "dropdown-item upy" do
            .fas.fa-cog.btn-c
            = link_to destroy_user_session_path, method: :delete,  class: "dropdown-item topy" do
              .fas.fa-sign-out-alt.btn-c
    - else
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Sign Up', new_user_registration_path, class: "nav-link"
        %li.nav-item
          = link_to 'Sign In', new_user_session_path, class: "nav-link"