%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .logo
    = link_to  image_tag("udzilla.png"), root_path, class: 'navbar-brand bckgrd'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto.links
        %li{:class => "#{'active font-weight-bold' if current_page?(root_path)} nav-item"}
          = link_to root_path, class: 'nav-link' do
            %i.fas.fa-home
            Home
        %li{:class => "#{'active font-weight-bold' if current_page?(courses_path)} nav-item"}
          = link_to courses_path, class: 'nav-link' do
            %i.fas.fa-graduation-cap
            Catalog
        %li{:class => "#{'active font-weight-bold' if current_page?(purchased_courses_path)} nav-item"}
          = link_to purchased_courses_path, class: 'nav-link' do
            %i.fab.fa-leanpub
            Courses
            .badge.badge-warning
              = current_user.enrollments_count
        %li{:class => "#{'active font-weight-bold' if current_page?(pending_review_courses_path)} nav-item"}
          = link_to pending_review_courses_path, class: 'nav-link' do
            %i.fas.fa-star
            Awaiting
            .badge.badge-warning
              = current_user.enrollments.pending_review.count
      - if current_user.has_role?(:teacher)
        %ul.navbar-nav.ml-auto.links
          %li{:class => "#{'active font-weight-bold' if current_page?(new_course_path)} nav-item"}
            = link_to new_course_path, class: 'nav-link' do
              %i.fas.fa-plus
              New 
          %li{:class => "#{'active font-weight-bold' if current_page?(created_courses_path)} nav-item"}
            = link_to created_courses_path, class: 'nav-link' do
              %i.fab.fa-leanpub
              Teachings
              .badge.badge-warning
                = current_user.courses_count
          %li{:class => "#{'active font-weight-bold' if current_page?(my_students_enrollments_path)} nav-item"}
            = link_to my_students_enrollments_path, class: 'nav-link mr-3' do
              %i.fas.fa-users
              Students
              .badge.badge-warning
                = Enrollment.joins(:course).where(courses: {user: current_user}).count
      - if current_user.has_role?(:admin)
        %ul.navbar-nav.ml-auto.links
          %li{:class => "#{'active font-weight-bold' if current_page?(users_path)} nav-item"}
            = link_to users_path, class: 'nav-link' do
              %i.fas.fa-users
              Users
              .badge.badge-warning
                = User.count
          %li{:class => "#{'active font-weight-bold' if current_page?(users_path)} nav-item"}
            = link_to unapproved_courses_path, class: 'nav-link' do
              %i.fas.fa-book
              Unapproved
              .badge.badge-warning
                = Course.unapproved.count
          %li{:class => "#{'active font-weight-bold' if current_page?(enrollments_path)} nav-item"}
            = link_to enrollments_path, class: 'nav-link' do
              %i.fas.fa-lock-open
              Enrollments
              .badge.badge-warning
                = Enrollment.count
          %li{:class => "#{'active font-weight-bold' if current_page?(activity_path)} nav-item"}
            = link_to analytics_path, class: 'nav-link' do
              %i.fas.fa-chart-bar
              Analytics
      %ul.navbar-nav.mr-righ
        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .input-group 
            = f.search_field :title_or_short_description_cont, class: 'form-control', placeholder: "Search"
            %span.input-group-append
              %button.btn.btn-cust.btn{:type => "submit"}
                %span.fas.fa-search{"aria-hidden" => "true"}

      .mr-right
        %li{:class => "#{'active font-weight-bold' if current_page?(root_path)} nav-item"}
          = link_to edit_user_registration_path, class: "dropdown-item upy" do
            .fas.fa-cog.btn-c
            = link_to destroy_user_session_path, method: :delete,  class: "dropdown-item topy" do
              .fas.fa-sign-out-alt.btn-c
    - else
      %ul.navbar-nav
        .outer-link
          %li.nav-item
            = link_to 'Sign Up', new_user_registration_path, class: "nav-link pb-3"
          %li.nav-item
            = link_to 'Sign In', new_user_session_path, class: "nav-link pt-3"
            = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'nav-link pt-3' do
              .fab.fa-google 
              SignIn