!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{description: "online learning and teaching platform"}/
    %meta{keywords: "online, online learning, course, video, education, toturials, online teaching, udzilla, shaher, Elearning platform"}/
    %meta{author: "Shaher Shamroukh"}/
    %title
      = content_for?(:title) ? yield(:title) : "Udzilla"
    = favicon_link_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics'
  %body
  = render 'layouts/header'
  = render 'layouts/messages'
  .container
    %p
  = yield
  = render 'layouts/footer'